{% extends 'base.html' %}

{% block TITLE %} Play Game {% endblock %}

{% block CONTENT %} 
<h1> Let's play Madlibs </h1>
    <form action="/madlib" method="POST">
        <label> Person <input type="text" name="person"> </input></label><br>
        Color <label><input type="checkbox" name="color" value="red">Red</input>
        </label> <br>
        <label><input type="checkbox" name="color" value="green">Green</input>
        </label> <br>
        <label><input type="checkbox" name="color" value="blue">Blue</input>
        </label> <br>
        <label><input type="checkbox" name="color" value="pink">Pink</input>
        </label> <br>
        <label> Noun <input type="text" name="noun"></input></label><br>
        <label> Adjective <input type="text" name="adjective"></input></label><br>
        <label> Number <input type="text" name="number"></input></label><br>
        <label> Car <input type="text" name="car"></input></label><br>

        <input type="submit">
    </form>
    
{% endblock %}
<!-- 
<!doctype html>
<html>
<head>
    <title>Play Game</title>
</head>
<body>
    <h1> Let's play Madlibs </h1>
    <form action="/madlib">
        <label> Person <input type="text" name="person"> </input></label><br>
        <label> Color <input type="text" name="color"></input>
        </label> <br>
        <label> Noun <input type="text" name="noun"></input></label><br>
        <label> Adjective <input type="text" name="adjective"></input></label><br>
        <label> Number <input type="text" name="number"></input></label><br>
        <label> Car <input type="text" name="car"></input></label><br>

        <input type="submit">
    </form>
</body>
</html> -->