{% extends 'base.html' %}

{% block TITLE %}  Madlib {% endblock %}

{% block CSS %} <link rel="stylesheet" href="/static/madlibs.css"> {% endblock %}

{% block CONTENT %} 
There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up in a {{ car }}, it burst into {{ number }} flames in a totally {{ adjective }} way.

{% endblock %}



<!-- <!doctype html>
<html>
<head>
  <title>Madlib</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up in a {{ car }}, it burst into {{ number }} flames in a totally {{ adjective }} way.
</body>
</html> -->